# Copyright (c) 2024 Felipe Neves
# SPDX-License-Identifier: Apache-2.0

config ZIPM
    bool "Enables Zephyr Inter-Processor Messaging"
    help
      Enables Zephyr Inter-Processor Messaging module
